
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e9e9e9;
    color: #333;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    text-align: center;
    padding: 1rem;
}

header {
    background-color: #333;
}

header h1 {
    color: #fff;
}


nav {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav div {
    margin: 0 15px;
    background-color: #d35400;
    padding: 10px 20px;
    margin: 5px 10px 5px 10px;
}

nav div a {
    color: #fff;
    text-decoration: none;
}

main {
    width: 90%;
}

#main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

aside {
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

#miguel-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    object-fit: cover; 
}

#miguel-description {
    margin: 5px;
    text-align: justify;
}

article {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

footer {
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

body {
    overflow: hidden; /* Prevents scrollbars from appearing when kite moves */
}
